<div class="card">
  <h1 class="center-align">Pacientes</h1>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="row">
            <div class="col s12 l6">
              <%= f.label "Paciente" %>
              <%= f.text_field :nome_cont, placeholder: "Nome do paciente..." %>
            </div>
            <div class="col s12 l6">
              <%= f.label "Tipo Insulina" %>
              <%= f.select :dant_doses_tipo_insulina_cont, DantDose.tipo_insulina.options,{prompt: "Todos os Tipos",include_blank: true},{class:"browser-default chosen-select"} %>
            </div>


          </div>
          <div class="row">
            <div class="col s12 l6">
              <%= f.label "Município" %>
              <%= f.select :cidade_id_eq, Cidade.to_select,{prompt: "Todo o Estado",include_blank: true},{class:"browser-default chosen-select"} %>

            </div>
            <div class="col l6 s12">
              <%= f.label "Região" %>
              <%= f.select :dant_region_id_eq, DantRegion.all.order(:nome).map{|a| [a.nome,a.id]},{prompt: "Todas as Regiões",include_blank: true},{class:"browser-default chosen-select"} %>

            </div>
          </div>
          <div class="row">
            <br>
            <%= f.submit "Filtrar", class:"btn" %>
            <%= link_to "Limpar", dant_pacients_path, class:"btn" %>
          </div>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Nome</th>
    <th>Cidade</th>
    <th>Idade</th>
    <th>Tipo insulina</th>

  </tr>
  </thead>

  <tbody>
  <% @dant_pacients.each do |dant_pacient| %>
      <tr>

        <td><%= link_to dant_pacient.nome,dant_pacient %></td>
        <td><%= dant_pacient.cidade %></td>
        <td><%= dant_pacient.idade %></td>
        <td><%= dant_pacient.dant_doses.map{|a| a.tipo_insulina_text}.to_sentence.upcase %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@dant_pacients)  %>
</div>

<%= link_to '+ Cadastrar', new_dant_pacient_path, class:"btn" %>
