<div style="min-width: 350px">
<h4 class="center">Registro</h4>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login-form"}) do |f| %>
  <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :nome %><br />
      <%= f.text_field :nome %>
    </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autocomplete: "email" %>
  </div>

    <div class="field">
      <%= f.label :cidade_id, "Cidade" %><br />
      <%= f.select :cidade_id, Cidade.where(status: true).sort_by{|a| a.nome}.map{|a| [a.nome,a.id]},{prompt:true},{class:"browser-default select2"} %>
    </div>
    <br>
  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação de senha" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrar", class:"btn" %>
  </div>
<% end %>
<p>&nbsp;</p>
</div>