<div class="card-panel">
  <h4 class="center"><%= @dst_solicitacao_produto %></h4>

  <p>
    <strong>Produto:</strong>
    <%= @dst_solicitacao_produto.dst_produto %>
  </p>

  <p>
    <strong>Quantidade Solicitada:</strong>
    <%= @dst_solicitacao_produto.quantidade.to_i %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @dst_solicitacao_produto.status.titleize %>
  </p>

  <p>
    <strong>Formulário de Solicitação:</strong>
    <%= link_to @dst_solicitacao_produto.dst_solicitacao ,  @dst_solicitacao_produto.dst_solicitacao %>
  </p>

</div>
<div class="row">
  <div class="col s12 m4">
    <div class="card-panel center teal white-text">
      <h4><%= @dst_solicitacao_produto.quantidade.to_i %></h4>
      <p>Quantidade Solicitada</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel center teal white-text">
      <h4><%= @dst_solicitacao_produto.quantidade_aprovada.to_i || 0 %></h4>
      <p>Quantidade Autorizada</p>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card-panel center teal white-text">
      <h4><%= @dst_solicitacao_produto.quantidade_atendido.to_i %></h4>
      <p>Quantidade Atendida</p>
    </div>
  </div>
</div>
<% if @dst_solicitacao_produto.observacoes.present? %>
    <div class="card-panel">
      <h4 class="header2">Solicitação Analisada por <%= @dst_solicitacao_produto.user %></h4>
      <p>
        <%= @dst_solicitacao_produto.observacoes %>
      </p>
    </div>
<% end %>

<%= link_to 'Voltar', @dst_solicitacao_produto.dst_solicitacao, class:"btn" %>
