<div class="card">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
        <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
        <%= f.submit "Filtrar", class:"btn" %>
      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>Indicação</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @imunizacao_indications.each do |imunizacao_indication| %>
    <tr>
      <td><%= link_to imunizacao_indication, imunizacao_indication %></td>
      <td><%= link_to "excluir", imunizacao_indication, method: :delete, data:{confirm: "Deseja realmente excluir?"}  %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@imunizacao_indications)  %>
</div>

<%= link_to '+ Cadastrar', new_imunizacao_indication_path, class:"btn" %>
