<%= nested_form_for(dant_request) do |f| %>
    <% if dant_request.errors.any? %>
        <div id="error_explanation" class="card-panel red white-text">
          <h5>Resolva os problemas a seguir antes de Salvar:</h5>

          <ul>
            <% dant_request.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="card-panel">

      <div class="input-field">


        <%= f.select :mes, [["MARÇO" , 3],["JUNHO" , 6],["SETEMBRO" , 9],["DEZEMBRO" , 12]],prompt: true %>
        <%= f.label :mes, "MÊS" %>
      </div>

      <div class="input">
        <%= f.label :dant_responsavel_program_id, "Responsável pelo Programa" %>
        <%= f.select :dant_responsavel_program_id, @responsaveis, {prompt: true}, {class:"browser-default select2"}   %>


      </div>
      <% if current_user.administrador? || current_user.admin_dant? %>
          <div class="input">
            <%= f.label :cidade_id, "Cidade" %>
            <%= f.select :cidade_id, @cidades, {prompt: true}, {class:"browser-default select2", onchange:"cidade_change()"}   %>

          </div>
      <% else %>
      <%= f.hidden_field :cidade_id %>
      <% end  %>
      <br>

      <div class="card">
        <div class="card-content">
          <span class="card-title">Planilha por Faixa Etária</span>
          <%= f.fields_for :dant_faixa_etarias do |esq| %>
            <div class="row">

              <div class="card-panel">
                <strong>Planilha por faixa etária e sexo para registro de hipertensos cadastrados</strong>
                <table>
                  <thead>
                  <tr>
                    <th>Sexo</th>
                    <th> < 1</th>
                    <th>01 a 04</th>
                    <th>05 a 09</th>
                    <th>10 a 14</th>
                    <th>15 a 19</th>
                    <th>20 a 29</th>
                    <th>30 a 39</th>
                    <th>40 a 49</th>
                    <th>50 a 59</th>
                    <th>60 a 69</th>
                    <th>70 a 79</th>
                    <th>80+</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Masculino</td>
                    <td><%= esq.number_field :hipertenso_m_1, required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_m_1_4 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_m_5_9 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_m_10_14 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_15_19 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_20_29 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_30_39 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_40_49 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_50_59 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_60_69 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_70_79 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_m_80 ,required: true , class:"hipertenso"%></td>

                  </tr>
                  <tr>
                    <td>Feminino</td>
                    <td><%= esq.number_field :hipertenso_f_1 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_1_4 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_f_5_9 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_10_14 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_15_19 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_20_29 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_30_39 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_40_49 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_50_59 ,required: true, class:"hipertenso" %></td>
                    <td><%= esq.number_field :hipertenso_f_60_69 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_f_70_79 ,required: true , class:"hipertenso"%></td>
                    <td><%= esq.number_field :hipertenso_f_80 ,required: true, class:"hipertenso" %></td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-panel">
                <strong>Planilha por faixa etária e sexo para registro de diabéticos cadastrados</strong>
                <table>
                  <thead>
                  <tr>
                    <th>Sexo</th>
                    <th> < 1</th>
                    <th>01 a 04</th>
                    <th>05 a 09</th>
                    <th>10 a 14</th>
                    <th>15 a 19</th>
                    <th>20 a 29</th>
                    <th>30 a 39</th>
                    <th>40 a 49</th>
                    <th>50 a 59</th>
                    <th>60 a 69</th>
                    <th>70 a 79</th>
                    <th>80+</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Masculino</td>
                    <td><%= esq.number_field :diabetico_m_1 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_1_4 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_5_9 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_10_14 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_15_19 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_20_29 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_30_39 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_40_49 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_50_59 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_60_69 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_70_79 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_m_90 ,required: true , class:"diabeticos"%></td>
                  </tr>
                  <tr>
                    <td>Feminino</td>
                    <td><%= esq.number_field :diabetico_f_1 ,required: true , class:"diabeticos"%></td>
                    <td><%= esq.number_field :diabetico_f_1_4 ,required: true , class:"diabeticos"%></td>
                    <td><%= esq.number_field :diabetico_f_5_9 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_10_14 ,required: true , class:"diabeticos"%></td>
                    <td><%= esq.number_field :diabetico_f_15_19 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_20_29 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_30_39 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_40_49 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_50_59 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_60_69 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_70_79 ,required: true, class:"diabeticos" %></td>
                    <td><%= esq.number_field :diabetico_f_80 ,required: true , class:"diabeticos"%></td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-panel">
                <strong>Planilha por faixa etária e sexo para registro de diabéticos com hipertensão cadastrados</strong>
                <table>
                  <thead>
                  <tr>
                    <th>Sexo</th>
                    <th> < 1</th>
                    <th>01 a 04</th>
                    <th>05 a 09</th>
                    <th>10 a 14</th>
                    <th>15 a 19</th>
                    <th>20 a 29</th>
                    <th>30 a 39</th>
                    <th>40 a 49</th>
                    <th>50 a 59</th>
                    <th>60 a 69</th>
                    <th>70 a 79</th>
                    <th>80+</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Masculino</td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_1 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_1_4 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_5_9 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_10_14 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_15_19 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_20_29 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_30_39 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_40_49 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_50_59 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_60_69 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_70_79 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_m_80 ,required: true, class:"diab_hip" %></td>
                  </tr>
                  <tr>
                    <td>Feminino</td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_1 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_1_4 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_5_9 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_10_14 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_15_19 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_20_29 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_30_39 ,required: true, class:"diab_hip" %></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_40_49 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_50_59 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_60_69 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_70_79 ,required: true , class:"diab_hip"%></td>
                    <td><%= esq.number_field :diabetico_hipertenso_f_80 ,required: true, class:"diab_hip" %></td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-panel">
                <strong>Planilha por faixa etária e sexo para registro de obesos cadastrados</strong>
                <table>
                  <thead>
                  <tr>
                    <th>Sexo</th>
                    <th> < 1</th>
                    <th>01 a 04</th>
                    <th>05 a 09</th>
                    <th>10 a 14</th>
                    <th>15 a 19</th>
                    <th>20 a 29</th>
                    <th>30 a 39</th>
                    <th>40 a 49</th>
                    <th>50 a 59</th>
                    <th>60 a 69</th>
                    <th>70 a 79</th>
                    <th>80+</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Masculino</td>
                    <td><%= esq.number_field :obeso_m_1 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_1_4 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_5_9 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_10_14 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_m_15_19 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_20_29 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_30_39 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_40_49 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_50_59 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_m_60_69 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_70_79 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_m_80 ,required: true, class:"obesos" %></td>

                  </tr>
                  <tr>
                    <td>Feminino</td>
                    <td><%= esq.number_field :obeso_f_1 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_f_1_4 ,required: true, class:"obesos" %></td>
                    <td><%= esq.number_field :obeso_f_5_9 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_10_14 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_15_19 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_20_29 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_30_39 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_40_49 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_50_59 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_60_69 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_70_79 ,required: true , class:"obesos"%></td>
                    <td><%= esq.number_field :obeso_f_80 ,required: true , class:"obesos"%></td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-panel">
                <strong>Planilha por faixa etária e sexo para registro de tabagismo cadastrados</strong>
                <table>
                  <thead>
                  <tr>
                    <th>Sexo</th>
                    <th>01 a 08</th>
                    <th>09 a 11</th>
                    <th>12 a 17</th>
                    <th>18 a 24</th>
                    <th>25 a 34</th>
                    <th>35 a 44</th>
                    <th>45 a 54</th>
                    <th>55 a 64 </th>
                    <th> >=65 </th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Masculino</td>
                    <td><%= esq.number_field :tabagismo_m_1_8 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_9_11 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_12_17 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_18_24 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_25_34 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_35_44 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_45_54 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_55_64 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_m_65 ,required: true, class:"tabagistas" %></td>

                  </tr>
                  <tr>
                    <td>Feminino</td>
                    <td><%= esq.number_field :tabagismo_f_1_8 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_9_11 ,required: true, class:"tabagistas" %></td>
                    <td><%= esq.number_field :tabagismo_f_12_17 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_18_24 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_25_34 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_35_44 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_45_54 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_55_64 ,required: true , class:"tabagistas"%></td>
                    <td><%= esq.number_field :tabagismo_f_65 ,required: true , class:"tabagistas"%></td>

                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-panel">
                <strong>Planilha por faixa etária e sexo para registro de etilismo cadastrados</strong>
                <table>
                  <thead>
                  <tr>
                    <th>Sexo</th>
                    <th>01 a 08</th>
                    <th>09 a 11</th>
                    <th>12 a 17</th>
                    <th>18 a 24</th>
                    <th>25 a 34</th>
                    <th>35 a 44</th>
                    <th>45 a 54</th>
                    <th>55 a 64 </th>
                    <th> >=65 </th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>Masculino</td>
                    <td><%= esq.number_field :etilismo_m_1_8 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_9_11 ,required: true, class:"etilistas" %></td>
                    <td><%= esq.number_field :etilismo_m_12_17 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_18_24 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_25_34 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_35_44 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_45_54 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_55_64 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_m_65 ,required: true, class:"etilistas" %></td>

                  </tr>
                  <tr>
                    <td>Feminino</td>
                    <td><%= esq.number_field :etilismo_f_1_8 ,required: true, class:"etilistas" %></td>
                    <td><%= esq.number_field :etilismo_f_9_11 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_12_17 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_18_24 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_25_34 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_35_44 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_45_54 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_55_64 ,required: true , class:"etilistas"%></td>
                    <td><%= esq.number_field :etilismo_f_65 ,required: true , class:"etilistas"%></td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-action">
          <%#= esq.link_to_add "Inserir Paciente", :dant_request_pacients %>
        </div>
      </div>


      <div class="input-field">

        <%= f.label :qtd_hipertensos, DantQuestion.find_by_pergunta(1), {id: "dant_request_qtd_hipertensos_lbl"} %>
        <%= f.number_field :qtd_hipertensos , readonly: true%>

      </div>

      <div class="input-field">

        <%= f.label :atendimento_hipertensos, DantQuestion.find_by_pergunta(2) %>
        <%= f.number_field :atendimento_hipertensos %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_obitos_hipertensos, DantQuestion.find_by_pergunta(3) %>
        <%= f.number_field :qtd_obitos_hipertensos%>

      </div>

      <div class="input-field">

        <%= f.label :qtd_diabeticos , DantQuestion.find_by_pergunta(4), {id:"dant_request_qtd_diabeticos_lbl"}%>
        <%= f.number_field :qtd_diabeticos , readonly: true%>

      </div>

      <div class="input-field">

        <%= f.label :atendimento_diabeticos, DantQuestion.find_by_pergunta(5) %>
        <%= f.number_field :atendimento_diabeticos %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_obitos_diabeticos, DantQuestion.find_by_pergunta(6) %>
        <%= f.number_field :qtd_obitos_diabeticos %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_diabeticos_hipertencos, DantQuestion.find_by_pergunta(7), {id: "dant_request_qtd_diabeticos_hipertencos_lbl"} %>
        <%= f.number_field :qtd_diabeticos_hipertencos , readonly: true%>

      </div>

      <div class="input-field">

        <%= f.label :atendimento_diabeticos_hipertensos, DantQuestion.find_by_pergunta(8) %>
        <%= f.number_field :atendimento_diabeticos_hipertensos %>

      </div>
      <br>
      <div class="input-field">

        <%= f.label :qtd_tratamento_hemodialise, DantQuestion.find_by_pergunta(9) %>
        <%= f.number_field :qtd_tratamento_hemodialise %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_nph, DantQuestion.find_by_pergunta(10) %>
        <%= f.number_field :qtd_nph %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_frascos_nph, DantQuestion.find_by_pergunta(11) %>
        <%= f.number_field :qtd_frascos_nph %>

      </div>
      <div class="input-field">

        <%= f.label :qtd_nph_caneta, DantQuestion.find_by_pergunta(23) %>
        <%= f.number_field :qtd_nph_caneta %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_frascos_nph_caneta, DantQuestion.find_by_pergunta(24) %>
        <%= f.number_field :qtd_frascos_nph_caneta %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_regular, DantQuestion.find_by_pergunta(12) %>
        <%= f.number_field :qtd_regular %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_frascos_regular, DantQuestion.find_by_pergunta(13) %>
        <%= f.number_field :qtd_frascos_regular %>

      </div>
      <div class="input-field">

        <%= f.label :qtd_regular_caneta, DantQuestion.find_by_pergunta(25) %>
        <%= f.number_field :qtd_regular_caneta %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_frascos_regular_caneta, DantQuestion.find_by_pergunta(26) %>
        <%= f.number_field :qtd_frascos_regular_caneta %>

      </div>

      <!-- <div class="input-field">

    <%#= f.label :qtd_analoga , DantQuestion.find_by_pergunta(14)%>
    <%#= f.number_field :qtd_analoga %>
    
  </div>

  <div class="input-field">

    <%#= f.label :qtd_frascos_analoga, DantQuestion.find_by_pergunta(15) %>
    <%#= f.number_field :qtd_frascos_analoga %>
    
  </div>-->

      <div class="input-field">

        <%= f.label :qtd_tabagista , DantQuestion.find_by_pergunta(14), {id:"dant_request_qtd_tabagista_lbl"}%>
        <%= f.number_field :qtd_tabagista, readonly: true %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_atendimento_tabagista, DantQuestion.find_by_pergunta(15) %>
        <%= f.number_field :qtd_atendimento_tabagista %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_etilista, DantQuestion.find_by_pergunta(16), {id:"dant_request_qtd_etilista_lbl"} %>
        <%= f.number_field :qtd_etilista, readonly: true %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_atendimento_etilista, DantQuestion.find_by_pergunta(17) %>
        <%= f.number_field :qtd_atendimento_etilista %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_obesos , DantQuestion.find_by_pergunta(18), {id:"dant_request_qtd_obesos_lbl"}%>
        <%= f.number_field :qtd_obesos , readonly: true%>

      </div>

      <div class="input-field">

        <%= f.label :qtd_obesidade_1, DantQuestion.find_by_pergunta(19) %>
        <%= f.number_field :qtd_obesidade_1 %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_obesidate_2, DantQuestion.find_by_pergunta(20) %>
        <%= f.number_field :qtd_obesidate_2 %>

      </div>

      <div class="input-field">

        <%= f.label :qtd_obesidade_3, DantQuestion.find_by_pergunta(21) %>
        <%= f.number_field :qtd_obesidade_3 %>

      </div>

      <div class="input-field">

        <%= f.label :soma_participacoes, DantQuestion.find_by_pergunta(22) %>
        <%= f.number_field :soma_participacoes %>

      </div>






      <!--<div class="card">-->
        <!--<div class="card-content">-->
          <!--<span class="card-title">Pacientes</span>-->
          <!--<%#= f.fields_for :dant_request_pacients do |esq| %>-->
              <!--<div class="row">-->
                <!--<div class="col s4 input">-->
                  <%#= esq.label :dant_pacient_id, "Paciente" %> <br>
                  <!--<%# if esq.object.dant_pacient_id %>-->
                    <!--<strong><%#= DantPacient.find(esq.object.dant_pacient_id) %></strong>-->
                  <!--<%# end %>-->
                  <!--<%#= esq.hidden_field :dant_pacient_id%>-->
                  <!--<%#= esq.hidden_field :idade%>-->
                  <!--<%#= esq.hidden_field :hipertenso%>-->
                  <!--<%#= esq.hidden_field :diabetico%>-->
                  <!--<%#= esq.hidden_field :tabagista%>-->
                  <!--<%#= esq.hidden_field :etilista%>-->
                  <!--<%#= esq.hidden_field :obeso%>-->
                  <!--<%#= esq.hidden_field :sexo%>-->

                <!--</div>-->
                <!--<div class="col s2">-->
                  <!--<%#= esq.label :frascos_diarios, "QTD Diária" %>-->
                  <!--<%#= esq.number_field :frascos_diarios, step: 1, readonly: true %>-->
                <!--</div>-->
                <!--<div class="col s2">-->
                  <!--<%#= esq.label :frascos_mensais, "QTD Mensal" %>-->
                  <!--<%#= esq.number_field :frascos_mensais, step: 1, readonly: true %>-->
                <!--</div>-->
                <!--<div class="col s4">-->
                  <!--<%#= esq.link_to_remove "Remover" %>-->
                <!--</div>-->
              <!--</div>-->
          <!--<%# end %>-->
        <!--</div>-->
        <!--<div class="card-action">-->
          <!--<%#= f.link_to_add "Inserir Paciente", :dant_request_pacients %>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class="actions">
      <%= f.submit "Salvar", class:"btn" %>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    function cidade_change()
    {
        $.get('/dant/dant_requests/cidade_change?cidade='+ $('#dant_request_cidade_id').val() );
    }

    $(".hipertenso").on("blur",function(){
        var sum = 0;
        $('.hipertenso').each(function(){
            console.log("value - ", this.value);
            val = parseInt(this.value)
            sum += !isNaN( val ) ? val : 0;  // Or this.innerHTML, this.innerText
        });

        $("#dant_request_qtd_hipertensos").val(sum);
        $("#dant_request_qtd_hipertensos_lbl").addClass("active");
    });

    $(".diabeticos").on("blur",function(){
        var sum = 0;
        $('.diabeticos').each(function(){

            val = parseInt(this.value)
            sum += !isNaN( val ) ? val : 0;  // Or this.innerHTML, this.innerText
        });

        $("#dant_request_qtd_diabeticos").val(sum);
        $("#dant_request_qtd_diabeticos_lbl").addClass("active");
    });

    $(".diab_hip").on("blur",function(){
        var sum = 0;
        $('.diab_hip').each(function(){

            val = parseInt(this.value)
            sum += !isNaN( val ) ? val : 0;  // Or this.innerHTML, this.innerText
        });

        $("#dant_request_qtd_diabeticos_hipertencos").val(sum);
        $("#dant_request_qtd_diabeticos_hipertencos_lbl").addClass("active");
    });

    $(".obesos").on("blur",function(){
        var sum = 0;
        $('.obesos').each(function(){

            val = parseInt(this.value)
            sum += !isNaN( val ) ? val : 0;  // Or this.innerHTML, this.innerText
        });

        $("#dant_request_qtd_obesos").val(sum);
        $("#dant_request_qtd_obesos_lbl").addClass("active");
    });

    $(".tabagistas").on("blur",function(){
        var sum = 0;
        $('.tabagistas').each(function(){

            val = parseInt(this.value)
            sum += !isNaN( val ) ? val : 0;  // Or this.innerHTML, this.innerText
        });

        $("#dant_request_qtd_tabagista").val(sum);
        $("#dant_request_qtd_tabagista_lbl").addClass("active");

    });

    $(".etilistas").on("blur",function(){
        var sum = 0;
        $('.etilistas').each(function(){

            val = parseInt(this.value)
            sum += !isNaN( val ) ? val : 0;  // Or this.innerHTML, this.innerText
        });

        $("#dant_request_qtd_etilista").val(sum);
        $("#dant_request_qtd_etilista_lbl").addClass("active");
    });
</script>
