<div class="card">
  <h1 class="center-align">DashBoard</h1>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="row">
            <div class="col l3 s12">
              <%= f.label "Mês" %>
              <%= f.select :mes_eq, [["MARÇO" , 3],["JUNHO" , 6],["SETEMBRO" , 9],["DEZEMBRO" , 12]], {prompt: "Todos os Meses"} %>

            </div>

            <div class="col l3 s12">
              <%= f.label "Ano" %>
              <%= f.select :ano_eq, DantRequest.distinct.pluck(:ano),{prompt: "Todos os Anos"} %>

            </div>
            <div class="col l3 s12">
              <%= f.label "Município" %>
              <%= f.select :cidade_id_eq, @cidades,{prompt: "Todo o Estado",include_blank: true},{class:"browser-default chosen-select"} %>

            </div>
            <div class="col l3 s12">
              <%= f.label "Região" %>
              <%= f.select :dant_region_id_eq, @regioes,{prompt: "Todas as Regiões", include_blank: true},{class:"browser-default chosen-select"} %>

            </div>
          </div>
          <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
          <%= link_to "Limpar", dant_requests_path , class:"btn red" %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l3">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">Hipertensos</span>
        <div class="row">
          <div class="col s6">Cadastrados</div>
          <div class="col s6">Atendimentos</div>
        </div>
        <div class="row">
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_hipertensos) %></h1>
          </div>
          <div class="col s6">
            <h1><%= @dant_requests.sum(:atendimento_hipertensos) %></h1>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="col s12 l3">
    <div class="card green darken-1">
      <div class="card-content white-text">
        <span class="card-title">Diabéticos</span>
        <div class="row">
          <div class="col s6">Cadastrados</div>
          <div class="col s6">Atendimentos</div>
        </div>
        <div class="row">
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_diabeticos) %></h1>
          </div>
          <div class="col s6">
            <h1><%= @dant_requests.sum(:atendimento_diabeticos) %></h1>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="col s12 l3">
    <div class="card red darken-1">
      <div class="card-content white-text">
        <span class="card-title">Diabéticos com Hipertensão</span>
        <div class="row">
          <div class="col s6">Cadastrados</div>
          <div class="col s6">Atendimentos</div>
        </div>
        <div class="row">
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_diabeticos_hipertencos) %></h1>
          </div>
          <div class="col s6">
            <h1><%= @dant_requests.sum(:atendimento_diabeticos_hipertensos) %></h1>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="col s12 l3">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">Tabagistas</span>
        <div class="row">
          <div class="col s6">Cadastrados</div>
          <div class="col s6">Atendimentos</div>
        </div>
        <div class="row">
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_tabagista) %></h1>
          </div>
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_atendimento_tabagista) %></h1>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 l3">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">Etilistas</span>
        <div class="row">
          <div class="col s6">Cadastrados</div>
          <div class="col s6">Atendimentos</div>
        </div>
        <div class="row">
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_etilista) %></h1>
          </div>
          <div class="col s6">
            <h1><%= @dant_requests.sum(:qtd_atendimento_etilista) %></h1>
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="col s12 l3">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">Obesos</span>

        <h1><%= @dant_requests.sum(:qtd_obesos) %></h1>
      </div>

    </div>
  </div>

  <div class="col s12 l3">
    <div class="card blue darken-1">
      <div class="card-content white-text">
        <span class="card-title">Atividade Físicas</span>

        <h1><%= @dant_requests.sum(:soma_participacoes) %></h1>
      </div>

    </div>
  </div>


</div>