<div class="card">
  <h1 class="center-align">Solicitações</h1>
</div>
<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <div class="row">
            <div class="col l3 s12">
              <%= f.label "Mês" %>
              <%= f.select :mes_eq, [["MARÇO" , 3],["JUNHO" , 6],["SETEMBRO" , 9],["DEZEMBRO" , 12]],{prompt: "Todos os Meses"} %>

            </div>

            <div class="col l3 s12">
              <%= f.label "Ano" %>
              <%= f.select :ano_eq, DantRequest.distinct.pluck(:ano),{prompt: "Todos os Anos"} %>

            </div>
            <div class="col l3 s12">
              <%= f.label "Município" %>
              <%= f.select :cidade_id_eq, @cidades,{prompt: "Todo o Estado",include_blank: true},{class:"browser-default chosen-select"} %>

            </div>
            <div class="col l3 s12">
              <%= f.label "Região" %>
              <%= f.select :dant_region_id_eq, @regioes,{prompt: "Todas as Regiões",include_blank: true},{class:"browser-default chosen-select"} %>

            </div>
          </div>
          <%# f.text_field :name_cont, placeholder: "Pesquisar..." %>
          <%= f.submit "Filtrar", class:"btn" %>
          <%= link_to "Limpar", dant_requests_path , class:"btn red" %>
      <% end %>
    </div>
  </div>
</div>


<table class="card striped responsive-table">
  <thead>
  <tr>

    <th>Mês</th>
    <th>Ano</th>
    <th>Responsável</th>
    <th>Cidade</th>
    <th>Status</th>
    <th>Ações</th>
  </tr>
  </thead>

  <tbody>
  <% @dant_requests.each do |dant_request| %>
      <tr>
        <td><%= dant_request.mes %></td>
        <td><%= dant_request.ano %></td>
        <td><%= dant_request.dant_responsavel_program %></td>
        <td><%= dant_request.cidade %></td>
        <td><%= dant_request.status %></td>
        <td><%= link_to "Visualizar", dant_request %></td>

      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@dant_requests)  %>
</div>

<%= link_to '+ Cadastrar', new_dant_request_path, class:"btn" %>


