<div class="card-panel">

  <% if @dant_request.status == "deferido" %>
      <div class="card-panel small white-text green">
      <h3 class="center-align">O Relatório Trimestral foi DEFERIDO.</h3>
          <h3 class="center-align">Leve a Posição de Estoque e a Guia de Requisição na DANT/ANEXO I para a liberação de insulinas</h3>
      </div>
  <% end %>

  <p>
    <strong>Mês:</strong>
    <%= @dant_request.mes %>/<%= @dant_request.ano %>
  </p>

  <p>
    <strong>Responsável pelo Programa:</strong>
    <%= @dant_request.dant_responsavel_program %>
  </p>

  <p>
    <strong>Cidade:</strong>
    <%= @dant_request.cidade %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= @dant_request.status.upcase %>
  </p>



  <% if @dant_request.status == "indeferido" %>
    <p>
      <strong>Indeferimento:</strong>
      <%= @dant_request.justificativa %>
    </p>
  <% end %>

  <div class="card-panel">
<table>
  <thead>
  <th>DADOS</th>
  <th>Quantidade</th>
  </thead>
  <tbody>
  <tr>
    <td><%= DantQuestion.find_by_pergunta(1) %></td>
    <td><%= @dant_request.qtd_hipertensos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(2) %></td>
    <td><%= @dant_request.atendimento_hipertensos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(3) %></td>
    <td><%= @dant_request.qtd_obitos_hipertensos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(4) %></td>
    <td><%= @dant_request.qtd_diabeticos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(5) %></td>
    <td><%= @dant_request.atendimento_diabeticos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(6) %></td>
    <td><%= @dant_request.qtd_obitos_diabeticos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(7) %></td>
    <td><%= @dant_request.qtd_diabeticos_hipertencos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(8) %></td>
    <td><%= @dant_request.atendimento_diabeticos_hipertensos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(9) %></td>
    <td><%= @dant_request.qtd_tratamento_hemodialise %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(10) %></td>
    <td><%= @dant_request.qtd_nph %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(11) %></td>
    <td><%= @dant_request.qtd_frascos_nph %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(23) %></td>
    <td><%= @dant_request.qtd_nph_caneta %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(24) %></td>
    <td><%= @dant_request.qtd_frascos_nph_caneta %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(12) %></td>
    <td><%= @dant_request.qtd_regular %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(13) %></td>
    <td><%= @dant_request.qtd_frascos_regular %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(25) %></td>
    <td><%= @dant_request.qtd_regular_caneta %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(26) %></td>
    <td><%= @dant_request.qtd_frascos_regular_caneta %></td>
  </tr>

  <!--<tr>
  <td>Qtd analoga:</td>
  <%#= @dant_request.qtd_analoga %>
</tr>

<tr>
  <td>Qtd frascos analoga:</td>
  <%#= @dant_request.qtd_frascos_analoga %>
</tr>-->

  <tr>
    <td><%= DantQuestion.find_by_pergunta(14) %></td>
    <td><%= @dant_request.qtd_tabagista %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(15) %></td>
    <td><%= @dant_request.qtd_atendimento_tabagista %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(16) %></td>
    <td><%= @dant_request.qtd_etilista %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(17) %></td>
    <td><%= @dant_request.qtd_atendimento_etilista %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(18) %></td>
    <td><%= @dant_request.qtd_obesos %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(19) %></td>
    <td><%= @dant_request.qtd_obesidade_1 %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(20) %></td>
    <td><%= @dant_request.qtd_obesidate_2 %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(21) %></td>
    <td><%= @dant_request.qtd_obesidade_3 %></td>
  </tr>

  <tr>
    <td><%= DantQuestion.find_by_pergunta(22) %></td>
    <td><%= @dant_request.soma_participacoes %></td>
  </tr>
  </tbody>
</table>
  </div>
  <% if @dant_request.status != :cadastrada %>
    <div class="card">
      <div class="card-content">
        <span class="card-title">Quantidade de frascos sugerido pelo sistemas</span>
        <table>
          <thead>
          <th>Tipo </th>
          <th>Quantidade</th>
          </thead>
          <tbody>
              <tr>
                <td>NPH</td>
                <td><%= @dant_request.qtd_nph_calculada %></td>
              </tr>
              <tr>
                <td>REGULAR</td>
                <td><%= @dant_request.qtd_regular_calculada %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <%= link_to "Planilha por Faixa Etária", faixa_etaria_dant_request_path(@dant_request), class:"btn", target:"_self" %>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pacientes - INSULINA NPH</span>
        <table>
          <thead>
           <th>Nome</th>
           <th>Idade</th>
           <th>Frascos Diários</th>
           <th>Frascos Mensais</th>
          </thead>
          <tbody>
          <% @dant_request.dant_request_pacients.includes(:dant_doses).where(dant_doses: {tipo_insulina: "nph_frascos"}).each do |p| %>
            <tr>
              <td><%= p.dant_pacient %></td>
              <td><%= p.idade %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "nph_frascos").sum(:dose_diaria) %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "nph_frascos").sum(:frascos_mensais) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pacientes - INSULINA NPH DE CANETA</span>
      <table>
        <thead>
        <th>Nome</th>
        <th>Idade</th>
        <th>Doses Diários</th>
        <th>Frascos Mensais</th>
        </thead>
        <tbody>
        <% @dant_request.dant_request_pacients.includes(:dant_doses).where(dant_doses: {tipo_insulina: "nph_de_caneta"}).each do |p| %>
            <tr>
              <td><%= p.dant_pacient %></td>
              <td><%= p.idade %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "nph_de_caneta").sum(:dose_diaria) %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "nph_de_caneta").sum(:frascos_mensais) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pacientes - INSULINA REGULAR</span>
      <table>
        <thead>
        <th>Nome</th>
        <th>Idade</th>
        <th>Frascos Diários</th>
        <th>Frascos Mensais</th>
        </thead>
        <tbody>
        <% @dant_request.dant_request_pacients.includes(:dant_doses).where(dant_doses: {tipo_insulina: "regular_frascos"}).each do |p| %>
            <tr>
              <td><%= p.dant_pacient %></td>
              <td><%= p.idade %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "regular_frascos").sum(:dose_diaria) %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "regular_frascos").sum(:frascos_mensais) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card">
    <div class="card-content">
      <span class="card-title">Pacientes - INSULINA REGULAR DE CANETA</span>
      <table>
        <thead>
        <th>Nome</th>
        <th>Idade</th>
        <th>Frascos Diários</th>
        <th>Frascos Mensais</th>
        </thead>
        <tbody>
        <% @dant_request.dant_request_pacients.includes(:dant_doses).where(dant_doses: {tipo_insulina: "regular_de_caneta"}).each do |p| %>
            <tr>
              <td><%= p.dant_pacient %></td>
              <td><%= p.idade %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "regular_de_caneta").sum(:dose_diaria) %></td>
              <td><%= p.dant_pacient.dant_doses.where(tipo_insulina: "regular_de_caneta").sum(:frascos_mensais) %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
<%= link_to 'Voltar', dant_requests_path, class:"btn" %>
<%= link_to 'Enviar', enviar_dant_request_path(@dant_request), class:"btn green" if @dant_request.status == :cadastrada %>
<% if @dant_request.status != :cadastrada and ( current_user.administrador? || current_user.admin_dant?) %>
  <%= link_to "Deferir", alterar_status_dant_request_path(@dant_request, status: "deferido"), class:"btn green", target:"_self"%>
  <%#= link_to "Indeferir", alterar_status_dant_request_path(@dant_request, status: "indeferido"), class:"btn red", target:"_self"%>
    <a class="btn red modal-trigger" href="#modal_justificativa">Indeferir</a>
  <%= link_to "Entregar", alterar_status_dant_request_path(@dant_request, status: "entregue"), class:"btn blue", target:"_self"%>
<% end %>

<div id="modal_justificativa" class="modal">
  <div class="modal-content">
    <h4>Informe o motivo do indeferimento</h4>
    <%= form_for(@dant_request) do |f| %>
      <div class="input-field">
        <%= f.label :justificativa %>
        <%= f.text_area :justificativa,{class:"materialize-textarea"} %>
      </div>
        <%= f.hidden_field :status, value: "indeferido" %>
        <%= f.submit "Salvar", class:"btn", target:"_self" %>
    <% end %>
  </div>

</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>