<h4 class="center">Requisição de Imunobiológicos Especiais</h4>
<%= nested_form_for(imunizacao_solicitacao) do |f| %>
    <% if imunizacao_solicitacao.errors.any? %>
        <div id="error_explanation" class="card-panel red white-text">
          <h5>Resolva os problemas a seguir antes de Salvar:</h5>

          <ul>
            <% imunizacao_solicitacao.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="card-panel">
      <h4 class="header2">Identidade do Usuário</h4>
      <div class="input-field">

        <%= f.label :nome_paciente, "Nome *" %>
        <%= f.text_field :nome_paciente, required: true %>

      </div>
      <div class="row">
        <div class="col s12 l6">
          <div class="">

            <%= f.label :data_nascimento, "Data de Nascimento *" %>
            <%= f.date_field :data_nascimento, required: true %>

          </div>
        </div>
        <div class="col s12 l6">
          <div class="">
            <%= f.label :sexo, "Sexo *"%>
            <%= f.select :sexo, ImunizacaoSolicitacao.sexo.options,{},{ class:"browser-default" , required: true}%>
          </div>
        </div>

      </div>
      <div class="col s12 l6">
        <div class="">
          <%= f.label :telefone_paciente, "Telefone *" %>
          <%= f.text_field :telefone_paciente, required: true %>
        </div>
      </div>
      <div class="input-field">
        <%= f.label :nome_mae, "Nome da Mãe *" %>
        <%= f.text_field :nome_mae, required: true %>
      </div>

      <div class="row">
        <div class="col s12 m8">
          <div class="input-field">

            <%= f.label :endereco, "Endereço *" %>
            <%= f.text_area :endereco, required: true %>

          </div>
        </div>
        <div class="col s12 m4">
          <div class="input-field">

            <%= f.label :bairro, "Bairro *" %>
            <%= f.text_field :bairro, required: true %>

          </div>
        </div>
      </div>


      <div class="">
        <%= f.label :municipio_id, "Município *" %>
        <%= f.select :municipio_id, Cidade.to_select,{ prompt: true},{class:"browser-default select2", required: true}  %>
      </div>
    </div>
    <div class="card-panel">
      <h4 class="header2">
        Identidade do Requisitante
      </h4>
      <div class="input-field">

        <%= f.label :nome, "Nome *" %>
        <%= f.text_field :nome_requisitante, required: true %>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <%= f.label :tipo, "Tipo *" %>
          <%= f.select :tipo_requisitante, ImunizacaoSolicitacao.tipo_requisitante.options,{},{class:"browser-default select2", required: true} %>
        </div>
        <div class="col s12 m4">
          <%= f.label :crm_coren, "CRM/COREN *" %>
          <%= f.text_field :crm_coren , required: true %>
        </div>
        <div class="col s12 m4">
          <%= f.label :telefone, "Telefone *" %>
          <%= f.text_field :telefone_requisitante, required: true %>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m8">
          <%= f.label :instituicao_requisitante, "Instituição *" %>
          <%= f.text_field :instituicao_requisitante, required: true %>
        </div>
        <div class="col s12 m4">
          <%= f.label :municipio, "Município *" %>
          <%= f.select :municipio_requisitante_id, Cidade.to_select,{ prompt: true},{class:"browser-default select2", required: true}  %>
        </div>
      </div>

<!--      <div class="input-field">-->
        <%#= f.file_field :anexos, multiple: true %>
<!--      </div>-->
    </div>

    <div class="card-panel">
      <h4 class="header2">Identificação do Solicitante <span style="font-size: 0.8rem; color: #9e9e9e "> (em caso de transcrição de prescrição médica)</span></h4>
      <%#= f.text_area :motivo_solicitacao %>
      <div class="input-field">

        <%= f.label :solicitante %>
        <%= f.text_field :solicitante %>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <%= f.label :solicitante_tipo, "Tipo" %>
          <%= f.select :solicitante_tipo, ImunizacaoSolicitacao.solicitante_tipo.options,{},{class:"browser-default select2"} %>
        </div>
        <div class="col s12 m4">
          <%= f.label :solicitante_crm_corem, "CRM/COREN" %>
          <%= f.text_field :solicitante_crm_corem %>
        </div>
        <div class="col s12 m4">
          <%= f.label :solicitante_telefone, "Telefone" %>
          <%= f.text_field :solicitante_telefone %>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m8">
          <%= f.label :solicitante_instituicao, "Instituição" %>
          <%= f.text_field :solicitante_instituicao %>
        </div>
        <div class="col s12 m4">
          <%= f.label :solicitante_municipio, "Município" %>
          <%= f.select :solicitante_municipio, Cidade.to_select,{ prompt: true},{class:"browser-default select2"}  %>
        </div>
      </div>
    </div>

    <div class="card-panel">
      <h4 class="header2">Imunobiológicos Fornecidos pelo Estado</h4>
      <%= f.fields_for :imunobiologicos do |i| %>
          <%= i.hidden_field :imunizacao_solicitacao_id %>
        <div class="card-panel" style="overflow: visible;">
          <div class="row">
            <div class="col s12 l6">
              <%= i.label :imunizacao_indication_id, "Indicação" %>
              <%= i.select :imunizacao_indication_id, ImunizacaoIndication.to_select, {prompt: true}, {id: "combo_#{i.index}" , class:"vacina browser-default select2", onchange: "indicacoes('combo_#{i.index}');"} %>
            </div>
            <div class="col s12 l6">
              <%= i.label :imunizacao_vacina_id, "Imunobiológico" %>
              <% if i.object.new_record? %>
                <%= i.select :imunizacao_vacina_id, [], {prompt: true}, {id: "indicacao_combo_#{i.index}", class:"browser-default select2" } %>
              <% else %>
                <%= i.select :imunizacao_vacina_id, i.object.imunizacao_indication.imunizacao_vacinas.to_select, {prompt: true}, {id: "indicacao_combo_#{i.index}", class:"browser-default select2" } %>
              <% end %>
            </div>
          </div>

          <br>
          <%= i.link_to_remove "Apagar", class: "btn red" %>
        </div>
      <% end %>
      <%= f.link_to_add "Inserir", :imunobiologicos, class: :btn %>

    </div>

<!--    <div class="card-panel">-->
<!--      <h4 class="header2">Outros Imunobiológicos</h4>-->
      <%#= f.fields_for :outros_imunobiologicos do |i| %>
          <%#= i.hidden_field :imunizacao_solicitacao_id %>
<!--          <div class="card-panel">-->
            <%#= i.text_field :nome_vacina %>
            <%#= i.link_to_remove "Apagar", class: "btn red" %>

<!--          </div>-->
      <%# end %>
      <%#= f.link_to_add "Inserir", :outros_imunobiologicos, class: :btn %>
<!--    </div>-->

    <%= f.hidden_field :municipio_atual_id%>

    <div class="card-panel">
      <h4 class="header2">Observações adicionais sobre o paciente</h4>
      <div class="input-field">
        <%= f.text_area :observacoes, {class:"materialize-textarea"} %>
        <%= f.label :observacoes, "Observações" %>
      </div>
    </div>

  <div class="card-panel">
    <h4 class="header2">Anexos<span style="font-size: 0.8rem; color: #9e9e9e "> (Cartão de vacinas*, documento pessoal*, prescrição médica, relatório médico, relatório de alta, exame laboratorial ou de imagens)</span></h4>

    <%= f.fields_for :imunizacao_files do |i| %>
      <div class="card-panel">
        <div class="row">
          <div class="input-field col s12 l6">
            <%= i.label :descricao, "Descrição" %>
            <%= i.text_field :descricao %>
          </div>
          <div class="input-field col s12 l4">
            <%= i.file_field :anexo %>
          </div>
          <div class="col s12 l2">
            <%= i.link_to_remove "Apagar", class: "btn red" %>
          </div>
        </div>
      </div>
    <% end %>
    <%= f.link_to_add "Inserir", :imunizacao_files, class: :btn %>
  </div>

    <div class="actions">
      <%= f.submit "Salvar", class:"btn" %>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    function indicacoes(combo)
    {
        console.log($('#'+combo).val());
        $.get('/imunizacao/imunizacao_indications/'+ $('#'+combo).val()+'/retornar_vacinas?combo='+combo );
    }
</script>
