<h1 class="center-align">Requisições de Imunobiológicos Especiais</h1>
<div class="card" style="overflow: visible;">
  <div class="card-content">
    <span class="card-title grey-text text-darken-4" onclick="toogle_div('#pesquisa')">
      Pesquisa
    </span>
    <div id="pesquisa" class="not-show row">
      <%= search_form_for @q, url: request.env['PATH_INFO'] do |f|  %>
          <%= f.text_field :nome_paciente_or_nome_mae_or_status_or_municipio_atual_nome_cont, placeholder: "Pesquisar..." %>
        <div class="col s12 l6">
          <%= f.label :created_at_gteq, "Data da Solicitação (Início)" %>
          <%= f.text_field :created_at_gteq, class:"datetimepicker" %>
        </div>
        <div class="col s12 l6">
          <%= f.label :created_at_lteq, "Data da Solicitação (Término)" %>
          <%= f.text_field :created_at_lteq, class:"datetimepicker"%>
        </div>
        <div class="col s12">
          <%= f.label :status_cont, "Status" %>
          <%= f.select :status_cont, ImunizacaoSolicitacao.status.options, {prompt: true}  %>
        </div>
          <%= f.submit "Filtrar", class:"btn" %>

      <% end %>
    </div>
  </div>
</div>

<table class="card striped responsive-table">
  <thead>
  <tr>
    <th>#</th>
    <th>Nome paciente</th>
    <th>Data Solicitação</th>
    <th>Município</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @imunizacao_solicitacaos.each do |imunizacao_solicitacao| %>
      <tr>
        <td><%= link_to imunizacao_solicitacao.id,imunizacao_solicitacao %></td>
        <td><%= link_to imunizacao_solicitacao.nome_paciente,imunizacao_solicitacao %></td>
        <td><%= imunizacao_solicitacao.created_at %></td>
        <td><%= imunizacao_solicitacao.municipio_atual %></td>
        <td><%= imunizacao_solicitacao.status_text %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<div class="card-panel">
  <%= paginate(@imunizacao_solicitacaos)  %>
</div>

<%= link_to '+ Cadastrar', new_imunizacao_solicitacao_path, class:"btn" %>
